# Git and version control
.git
.gitignore

# Dependencies & caches
node_modules
.turbo

# Local env files
.env.local
.env.*.local

# Build artifacts
.next/
dist/
.migrations/

# Test artifacts
.test/

# Logs
pnpm-debug.log*

# Misc
.DS_Store
*.pem

# IDEs
.vscode
.cursor