# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies & caches
node_modules
.turbo

# Local env files
.env.local
.env.*.local

# Build artifacts
.next/
dist/
.migrations/

# Test artifacts
.test/

# Logs
pnpm-debug.log*

# Misc
.DS_Store
*.pem
